<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
</head>
<body>
    <table>
        <tr height="100px">
            <td colspan="2"> 
                <div th:replace="Module::dauTrang"></div>  
            </td>
        </tr>
        <tr height="450px">
            <td width="800px" class="content"> 
                <h2>Chào mừng đến dự án Spring Boot của tôi! Đây là ví dụ về Framework của Spring Boot</h2>
            </td> 
            <td class="sidebar"> 
                <div th:replace="Module::sideBar"></div>  
            </td>
        </tr>
    </table>
</body>
</html>
