<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<style>
	body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f5;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .content {
        padding: 20px;
        line-height: 1.8;
        color: #333;
    }
    .content h2 {
        color: #007bff;
        margin-bottom: 15px;
    }
</style>
</head>
<body>
    <table>
        <tr height="100px">
            <td colspan="2"> 
                <div th:replace="Module::dauTrang"></div>  
            </td>
        </tr>
        <tr height="80px">
        	<td colspan="2">
        		<div th:replace="Module::danhMuc"></div>
        	</td>
        </tr>
        <tr height="450px">
            <td width="800px" class="content"> 
                <h2>Xin chào, đây là trang chủ.</h2>
            </td> 
            <td class="hinhBen"> 
                <div th:replace="Module::hinhBen"></div>  
            </td>
        </tr>
        <tr height="70px">
			<td colspan="2"> 
				<div th:replace="Module::chanTrang"></div>  
			</td>  
		</tr>
    </table>
</body>
</html>
